.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.titolo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.titolo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.logout-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #fff;
  color: #000;
}

.hamburger {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.nav-item-with-dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #1d1f2f;
  border-radius: 4px;
  padding: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown-menu a {
  color: white;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #333;
}
.nav-link {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

.nav-link:hover::before {
  width: 100%;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 15px;
    transition: 0.3s;
    z-index: 1000;
  }

  .navbar.open {
    left: 0;
  }
}
